<div class='addon-demo-api'>
  <h1>Hooks</h1>
  <p>
    This addon has been optimized for use with <i>ember-hook</i>. You can set a hook name on each component. This will
    allow you to access the internal components content for testing.
  </p>
  <div class='addon-demo-hooks'>
    <div class='table'>
      <div class='header'>Description</div>
      <div class='header'>Name</div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-object-details</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>Top level hook</div>
        <div>Object details yield content</div>
        <div>All the object details tabs</div>
        <div>An object detail tab</div>
        <div>Outlet where the content of the tab will be inserted</div>
        <div>All the related object details tabs</div>
        <div>A related object detail tab</div>
      </div>
      <div class='row'>
        <div>-object-details</div>
        <div>-object-details-content</div>
        <div>-object-details-tabs</div>
        <div>-object-details-tab-[index]</div>
        <div>-object-details-body-content</div>
        <div>-object-details-related-object-tabs</div>
        <div>-object-details-related-object-tab-[index]</div>
      </div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-object-tab</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>An object tab unselected/selected</div>
      </div>
      <div class='row'>
        <div>-object-tab[-selected]</div>
      </div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-related-object-tab</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>A related object tab unselected/selected</div>
      </div>
      <div class='row'>
        <div>-object-details-related-object-tab[-selected]</div>
      </div>
    </div>
  </div>
</div>