<div class='addon-demo-api'>
  <h1>Hooks</h1>
  <p>
    This addon has been optimized for use with <i>ember-hook</i>. You can set a hook name on each component. This will
    allow you to access the internal components content for testing.
  </p>
  <p>
    The attribute <i>hook</i> can be set on the <i>frost-object-details</i>. It's represented below by <i>[hook name]</i>.
  </p>
  <div class='addon-demo-hooks'>
    <div class='table'>
      <div class='header'>Description</div>
      <div class='header'>Name</div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-object-details</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>Top level hook</div>
        <div>Object details yield content</div>
        <div>All the object details tabs</div>
        <div>An object detail tab</div>
        <div>Outlet where the content of the tab will be inserted</div>
        <div>All the related object details tabs</div>
        <div>A related object detail tab</div>
      </div>
      <div class='row'>
        <div>[hook name]-object-details</div>
        <div>[hook name]-object-details-content</div>
        <div>[hook name]-object-details-tabs</div>
        <div>[hook name]-object-details-tab [Qualifiers=index]</div>
        <div>[hook name]-object-details-body-content</div>
        <div>[hook name]-object-details-related-object-tabs</div>
        <div>[hook name]-object-details-related-object-tab [Qualifiers=index]</div>
      </div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-object-tab</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>An object tab</div>
        <div>Determine if the object tab is unselected/selected</div>
      </div>
      <div class='row'>
        <div>[hook name]-[tab id]</div>
        <div>[hook name]-[tab id]-object-tab [Qualifiers=selected]</div>
      </div>
    </div>
  </div>
  <div class='addon-demo-hooks'>
    <hr class='sep'>
    <p class='title'><i>frost-related-object-tab</i></p>
    <hr class='sep'>
    <div class='table'>
      <div class='row'>
        <div>A related object tab</div>
        <div>Determine if the related object tab is unselected/selected</div>
      </div>
      <div class='row'>
        <div>[hook name]-[tab id]</div>
        <div>[hook name]-[tab id]-object-details-related-object-tab [Qualifiers=selected]</div>
      </div>
    </div>
  </div>
</div>