$frost-object-tab-bt-text-hover: $frost-color-grey-3;
$frost-object-tab-bt-text-active: $frost-color-grey-2;
$frost-object-tab-bt-border-active: $frost-color-blue-1;
$frost-object-tab-bt-border-default: $frost-color-grey-4;


.frost-object-tab {
  .object-tab {
    display: flex;
    position: relative;
    flex-direction: column;

    .frost-button {
      .text {
        height: 18px;
        padding: 0 5px;
      }

      &.active {
        border-bottom: 3px solid $frost-object-tab-bt-border-active;

        .text {
          color: $frost-object-tab-bt-text-active;
        }
      }

      &:hover {
        .text {
          border-bottom: 1px solid $frost-object-tab-bt-text-hover;
          color: $frost-object-tab-bt-text-hover;
        }
      }

      &.default {
        border-bottom: 3px solid $frost-object-tab-bt-border-default;
      }
    }
  }
}
