$frost-object-details-bg: $frost-color-lgrey-3;
$frost-object-details-line-between-tab-bg: $frost-color-lgrey-2;

.frost-object-details {
  display: flex;
  flex-direction: column;
  background-color: $frost-object-details-bg;

  .object-details-tabs {
    display: flex;
    flex-direction: row;
    margin: 0 0 2px;
    font-size: 0;

    .object-details-tab {
      &:last-child {
        .object-tab-divider {
          height: 0;
        }
      }
    }
  }

  .object-details-body {
    display: flex;
    flex: 1;
    flex-direction: row;

    > .content {
      flex: 1;
      padding-top: 5px;
    }

    > .related-object-tabs {
      display: flex;
      flex-direction: column;
      width: 90px;
      margin-right: 5px;
      margin-left: auto;
    }
  }
}
