.frost-object-tab {
  .object-tab {
    display: flex;
    position: relative;
    flex-direction: column;

    .frost-button {
      .text {
        height: 18px;
        padding: 0 5px;
      }

      &:hover {
        .text {
          border-bottom: 1px solid $frost-color-grey-3;
          color: $frost-color-grey-3;
        }
      }

      &.active {
        border-bottom: 3px solid $frost-color-blue-1;

        .text {
          color: $frost-color-grey-2;
        }
      }

      &.default {
        border-bottom: 3px solid $frost-color-grey-4;
      }
    }
  }
}
