<div class='frost-info-bar'>
  <div class='title'>
    <div class='primary-title'>User accounts</div>
    <div class='sub-title'>
      View and manage user accounts
      {{#frost-link 'demo' priority='secondary'}}
        Route to index
      {{/frost-link}}
    </div>
  </div>
</div>

