<div class="top-tabs">
  {{#each viewRoutes as |viewRoute|}}
    {{#link-to viewRoute.route}}{{viewRoute.alias}}{{/link-to}}
  {{/each}}
</div>
<div class="body">
    <div class="content">
      {{liquid-outlet class='main-container'}}
    </div>
    <div class="side-tabs">
      {{#each relatedRoutes as |relatedRoute|}}
        {{frost-related-detail relatedRoute=relatedRoute persistedRouteName=persistedRouteName defaultRoute=defaultRoute}}
      {{/each}}
    </div>
</div>

