<div class="view-tabs">
    {{yield}}
  {{#yield-slot 'view-route'}}
    {{yield (block-params (hash
      view=(component 'frost-view-detail')))}}
  {{/yield-slot}}
</div>
<div class="body">
    <div class="content">
      {{liquid-outlet class='main-container'}}
    </div>
    <div class="related-tabs">
      {{#yield-slot 'related-route'}}
        {{yield (block-params (hash
          related=(component 'frost-related-detail'
            persistedRouteName=persistedRouteName
            defaultRoute=defaultRoute)))
        }}
      {{/yield-slot}}
    </div>
</div>

