<div class='object-tab' data-test={{hook (concat hook '-object-tab' (if isSelected '-selected' '')) }}>
  {{frost-button
    class=(concat 'tab' (if isSelected ' active') (if isDefault ' default'))
    disabled=disabled
    text=text
    onClick=(action 'change')}}
</div>

{{#if isSelected}}
  {{to-elsewhere
    named=targetOutlet
    send=(hash
      content=content
      id=id
      type=type)
  }}
{{/if}}