<div class="view-tabs">
  {{!#each viewRoutes as |viewRoute|}}
    {{!#frost-view-detail viewRoute.route}}{{!viewRoute.alias}}{{!/frost-view-detail}}
  {{!/each}}

  {{yield (hash
    section='view-route'
    viewRoute=(component 'frost-view-detail'))
  }}

</div>
<div class="body">
    <div class="content">
      {{liquid-outlet class='main-container'}}
    </div>
    <div class="related-tabs">
      {{yield (hash
        section='related-route'
        relatedRoute=(component 'frost-related-detail'
                       persistedRouteName=persistedRouteName defaultRoute=defaultRoute
                       parentRouteName=parentRouteName relatedRouteDirName=relatedRouteDirName))
      }}
    </div>
</div>

