<div
  data-test={{hook (concat hook '-object-details-related-object-tab' (if isSelected '-selected' '')) }}>
  {{frost-button
    class=(if isSelected ' active')
    disabled=disabled
    text=text
    icon=(if isSelected 'close' icon.name)
    pack=(if isSelected 'frost' (if icon.pack icon.pack 'app'))
    onClick=(action 'change')}}
</div>

{{#if isSelected}}
  {{to-elsewhere
    named=targetOutlet
    send=(hash
      content=content
      id=id
      type=type)
  }}
{{/if}}