<div class="view-tabs">
  {{#each viewRoutes as |viewRoute|}}
    {{#frost-link viewRoute.route}}{{viewRoute.alias}}{{/frost-link}}
  {{/each}}
</div>
<div class="body">
    <div class="content">
      {{liquid-outlet class='main-container'}}
    </div>
    <div class="related-tabs">
      {{#each relatedRoutes as |relatedRoute|}}
        {{frost-related-detail relatedRoute=relatedRoute persistedRouteName=persistedRouteName defaultRoute=defaultRoute}}
      {{/each}}
    </div>
</div>

