<div class='frost-info-bar'>
    <div class='title'>
        <div class='primary-title'>User accounts</div>
        <div class='sub-title'>View and manage user accounts {{#link-to 'demo'}}Route to index{{/link-to}}</div>
    </div>
</div>

